h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 100px;
  height: 40px;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  color: #100720;
  background-color: #fff;
  text-align: center;
  background-image: url("../Imagens/backgroundbotao.jpg");
}

body {
  background-color: #100720;
  color: aliceblue;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
